@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: 'Righteous', cursive;
}

.playboard {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    grid-gap: 0.7rem;

    justify-content: center;
}

.playfield {
    border: solid 1px black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 4rem;
}

.cross {
    font-size: 6rem;
    transform: rotate(45deg);
}
